{% extends "base.html" %}
{% block title %}Confirmation{% endblock %}
{% block page-id %}confirmation{% endblock %}
{% block content %}

    <div id='menu'>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li class="current_page_item"><a href="#">Confirmation</a></li>
            <li><a href="{% url club %}">Club Leo</a></li>
        </ul>
    </div>
    <div id='left'>
        <table>
            <TR>
                <TD>Titre</TD>
                <TD class='label'>{{pamper.title}}</TD>
            </TR>
            <TR>
                <TD>Nom</TD>
                <TD class='label'>{{pamper.last_name}}</TD>
            </TR>
            <TR>
                <TD>Prénom</TD>
                <TD class='label'>{{pamper.first_name}}</TD>
            </TR>

             <TR>
                <TD>Pays</TD>
                <TD class='label'> {{pamper.country}} </TD>
            </TR>
            <TR>
                <TD>Ville</TD>
                <TD class='label'> {{pamper.city}} </TD>
            </TR>
            <TR>
                <TD>Nationalité</TD>
                <TD class='label'> {{pamper.nationality}} </TD>
            </TR>
            <TR>
                <TD>E-mail</TD>
                <TD class='label'> {{pamper.email}} </TD>
            </TR>
        </table>
    </div>
    <div id='right'>
        <table>
            <TR>
                <TD>Langue</TD>
                <TD class='label'>{{pamper.language}}</TD>
            </TR>
            <TR>
                <TD>Club</TD>
                <TD class='label'>{{pamper.club_name}}</TD>
            </TR>
            <TR>
                <TD>Zone</TD>
                <TD class='label'>{{pamper.zone}}</TD>
            </TR>
             <TR>
                <TD >District</TD>
                <TD class='label'> {{pamper.district}} </TD>
            </TR>
            <TR>
                <TD>Date d'arriver</TD>
                <TD class='label'> {{pamper.date_to_arrive}} </TD>
            </TR>
            <TR>
                <TD>Date de départ</TD>
                <TD class='label'> {{pamper.departure_date}} </TD>
            </TR>
            <TR>
                <TD>Moyen de transport</TD>
                <TD class='label'> {{pamper.transportation}} </TD>
            </TR>
            <TR>
                <TD> <a href="{{pamper.correction}}">Corriger</a></TD>
                <TD>  <a href="/">OK</a> </TD>
            </TR>
        </table>
    </div>
{% endblock %}
