{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block page-id %}contact{% endblock %}
{% block content %}

    <div id='menu'>
        <ul>
			<li><img id='image_left' border="0" src="/static/css/images/Leo-Logo-Color.png"></li>
            <li><a href="/">Accueil</a></li>
            <li><a href="{% url registered %}">Inscription</a></li>
            <li><a href="{% url club %}">Club</a></li>
            <li class="current_page_item"><a href="{% url contact %}">Contact</a></li>
            <li><img id='image_right' border="0" src="/static/css/images/logo_Lions.jpg"></li>
        </ul>
    </div>
{% endblock %}
