{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block page-id %}contact{% endblock %}
{% block content %}

    <div id="leo"><img id='image_left' border="0" style="float:right" src="/static/css/images/Leo-Logo-Color.png" width="150"></div>
    <div id="lion"><img id='image_right' border="0" style="float:left" src="/static/css/images/logo_Lions.jpg" width="150"></div>
    <div id='menu'>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="{% url registered %}">Inscription</a></li>
            <li><a href="{% url club %}">Club Leo</a></li>
            <li class="current_page_item"><a href="{% url contact %}">Contact</a></li>
        </ul>
    </div>
{% endblock %}
