{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block page-id %}contact{% endblock %}
{% block content %}

    <div id='menu'>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="{% url registered %}">Inscription</a></li>
            <li><a href="{% url club %}">Club Leo</a></li>
        </ul>
    </div>
    <div id='lions'>
        <table id="click_table">
            <caption><h1>Commission LIONS</h1></caption>
            <tr>
                <th>Poste</th>
                <th>Nom Prénom</th>
                <th>Téléphone</th>
                <th>E-mail</th>
            </tr>
            <tr>
                <td>Présidente</td>
                <td>TALL Habibatou</td>
                <td>66 72 19 79</td>
                <td>habitall61@hotmail.com</td>
            </tr>
            <tr>
                <td>Vice Président</td>
                <td>BALLY Baba Saïd</td>
                <td>63 10 07 71</td>
                <td>babaseidbally@yahoo.fr</td>
            </tr>
            <tr>
                <td>Directeur du camp</td>
                <td>COULIBALY Bayaya</td>
                <td>79 20 00 00</td>
                <td>ycoulibaly@msn.com</td>
            </tr>
            <tr>
                <td>Finance</td>
                <td>DIAKITE Moussa Toumani</td>
                <td>66 74 17 78</td>
                <td>mtdiakite2000@yahoo.fr</td>
            </tr>
            <tr>
                <td>Sécréatariat</td>
                <td>KANE Aïssata</td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

    <div id='leo'>
        <table id="click_table">
            <caption><h1>Commission LEO</h1></caption>
            <tr>
                <th>Poste</th>
                <th>Nom Prénom</th>
                <th>Téléphone</th>
                <th>E-mail</th>
            </tr>
            <tr>
                <td>Présidente</td>
                <td>DEMBELE Mady G</td>
                <td>66 79 62 18</td>
                <td>madyd10@hotmail.com</td>
            </tr>
            <tr>
                <td>Vice Président</td>
                <td>DIALLO Seyba</td>
                <td>66 79 24 42</td>
                <td>babaseidbally@yahoo.fr</td>
            </tr>
            <tr>
                <td>Directeur du camp</td>
                <td>GUINDO Moussa</td>
                <td>65 44 10 33</td>
                <td>moussaguindo@yahoo.fr</td>
            </tr>
            <tr>
                <td>Finance</td>
                <td>KEITA Sekou</td>
                <td>76 36 23 11</td>
                <td>djoamadou34@hotmail.com</td>
            </tr>
            <tr>
                <td>Sécréatariat</td>
                <td>TOURE Bintou</td>
                <td>63 42 85 97</td>
                <td>binlya03@yahoo.fr</td>
            </tr>
            <tr>
                <td>Inscription</td>
                <td>DOLO Alou</td>
                <td>76 49 90 55</td>
                <td>alou_lion@yahoo.fr</td>
            </tr>
            <tr>
                <td>Hébergement</td>
                <td>TRAORE Lassana</td>
                <td>74 53 22 70</td>
                <td></td>
            </tr>
        </table>
    </div>
{% endblock %}
