{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block page-id %}home{% endblock %}
{% block content %}
    <div id='menu'>
        <ul>
            <li class="current_page_item"><a href="/">Accueil</a></li>
            <li><a href="{% url registered %}">Inscription</a></li>
            <li><a href="{% url club %}">Club</a></li>
            <li><a href="{% url contact %}">Contact</a></li>
        </ul>
    </div>
    <div id='content'>
        <h1>Nombres d'inscrits : {{pamper_count}}</h1>
        <h2>Accueil</h2>

        <p>Bamako accueille du 05 - 10 septembre 2011 la 7e édition du camp international de la jeunesse (CIJ 2011).</p>

        <p>Cet accueil des Clubs et de notre District est une action sociale pour la Jeunesse en faveur de l'amitié entre les peuples et la connaissance de notre pays. C'est une expérience culturelle et amicale car ce camp accueillera des jeunes venant de différents pays.</p>

        <p>Pour participer au camp veuillez remplir le formulaire d'inscription dans la rubrique "Inscriptions" de notre site. Les formailtés d'entrée au Mali y sont également précisées.</p>

        <p>A très bientôt.</p>
    </div>
{% endblock %}
