{% extends "base.html" %}
{% block title %}Liste des inscrits{% endblock %}
{% block page-id %}pampers{% endblock %}

{% block content %}

    <div id='menu'>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li class="current_page_item"><a href="#">Liste des inscrits</a></li>
            <li><a href='{% url export_excel %}'>Exporter</a></li>
        </ul>
    </div>
    <div id="bienvenu">
        <span>{% include "_bienvenu_utilisateur.html" %}</span>
    </div>
    {% if page.object_list %}
        <div id="cij-pagination" class="prepend-16">
            <span>{% include "_cij_pagination.html" %}</span>
        </div>
        <table id="click_table">
            <thead>
                <th>Titre</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Pays</th>
                <th>Nom du club</th>
                <th>Langue</th>
                <th>Date d'arrivee</th>
                <th>Date de depart</th>
                <th>Moyen de transport</th>
            </thead>
            <tbody>
                {% for p in page.object_list %}

                    <tr>
                        <td><a href="{{p.url_display }}">{{p.title}}</a></td>
                        <td>{{p.last_name}}</td>
                        <td>{{p.first_name}}</td>
                        <td>{{p.country}}</td>
                        <td>{{p.club_name}}</td>
                        <td>{{p.language}}</td>
                        <td>{{p.date_to_arrive}}</td>
                        <td>{{p.departure_date}}</td>
                        <td>{{p.transportation}}</td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}
