{% extends "base.html" %}
{% block title %}Inscription{% endblock %}
{% block page-id %}registered{% endblock %}
{% block content %}

    <div id='menu'>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li class="current_page_item"><a href="{% url registered %}">Inscription</a></li>
            <li><a href="{% url club %}">Club Leo</a></li>
        </ul>
    </div>
    <form action="" method="post" id="registered_form">{% csrf_token %}
        <div id='left'>
            <table>
                    {% if title == "Mr" %}
                        <label class='label'>M.</label> <INPUT type=radio name="title" value="Mr" CHECKED>
                        <label class='label'>Mme</label> <INPUT type=radio name="title" value="Mme">
                        <label class='label'>Mlle</label><INPUT type=radio name="title" value="Mlle"><br>
                    {% else %}{% if title == "Mme" %}
                        <label class='label'>M.</label> <INPUT type=radio name="title" value="Mr" >
                        <label class='label'>Mme</label> <INPUT type=radio name="title" value="Mme" CHECKED>
                        <label class='label'>Mlle</label><INPUT type=radio name="title" value="Mlle"><br>
                    {% else %}{%if title == "Mlle" %}
                        <label class='label'>M.</label> <INPUT type=radio name="title" value="Mr" >
                        <label class='label'>Mme</label> <INPUT type=radio name="title" value="Mme" >
                        <label class='label'>Mlle</label><INPUT type=radio name="title" value="Mlle" CHECKED><br>
                    {% else %}
                        <label class='label'>M.</label> <INPUT type=radio name="title" value="Mr" >
                        <label class='label'>Mme</label> <INPUT type=radio name="title" value="Mme">
                        <label class='label'>Mlle</label><INPUT type=radio name="title" value="Mlle"><br>
                    {% endif %}{% endif %}{% endif %}
                    <TR>

                        <TD class='label'> {{form.last_name.label}} </TD>
                        <TD> {{form.last_name}} </TD>
                        {% if not form.country.errors%}
                            <TD>*</TD>
                        {% endif %}
                        <TD>
                            {% if form.last_name.errors%}
                                {% for error in form.last_name.errors %}
                                    <img src="/static/css/images/error.png" width="16"  title="{{error}}" >
                                {% endfor %}
                            {% endif %}
                        </TD>
                    </TR>
                    <TR>
                        <TD class='label'> {{form.first_name.label}}</TD>
                        <TD>  {{form.first_name}}</TD>
                        {% if not form.country.errors%}
                            <TD>*</TD>
                        {% endif %}
                        <TD>
                            {% if form.first_name.errors%}
                                {% for error in form.first_name.errors %}
                                    <img src="/static/css/images/error.png" width="16"  title="{{error}}" >
                                {% endfor %}
                            {% endif %}
                        </TD>
                    </TR>
                    <TR>
                        <TD class='label'> {{form.country.label}} </TD>
                        <TD> {{form.country}} </TD>
                        {% if not form.country.errors%}
                            <TD>*</TD>
                        {% endif %}
                        <TD>
                            {% if form.country.errors%}
                                {% for error in form.country.errors %}
                                    <img src="/static/css/images/error.png" width="16"  title="{{error}}" >
                                {% endfor %}
                            {% endif %}
                        </TD>
                    </TR>
                    <TR>
                        <TD class='label'> {{form.city.label}} </TD>
                        <TD> {{form.city}} </TD>
                        {% if not form.country.errors%}
                            <TD>*</TD>
                        {% endif %}
                        <TD>
                            {% if form.city.errors%}
                                {% for error in form.city.errors %}
                                    <img src="/static/css/images/error.png" width="16"  title="{{error}}" >
                                {% endfor %}
                            {% endif %}
                        </TD>
                    </TR>
                    <TR>
                        <TD class='label'> {{form.nationality.label}} </TD>
                        <TD> {{form.nationality}} </TD>
                        {% if not form.country.errors%}
                            <TD>*</TD>
                        {% endif %}
                        <TD>
                            {% if form.nationality.errors%}
                                {% for error in form.nationality.errors %}
                                    <img src="/static/css/images/error.png" width="16"  title="{{error}}" >
                                {% endfor %}
                            {% endif %}
                        </TD>
                    </TR>
                    <TR>
                        <TD class='label'> {{form.email.label}} </TD>
                        <TD> {{form.email}}</TD>
                        {% if not form.country.errors%}
                            <TD>*</TD>
                        {% endif %}
                        <TD>
                            {% if form.email.errors%}
                                {% for error in form.email.errors %}
                                    <img src="/static/css/images/error.png" width="16"  title="{{error}}" >
                                {% endfor %}
                            {% endif %}
                        </TD>
                    </TR>
            </table>

        </div>
        <div id='right'>
            <TABLE>
                {% if language == "fr" %}
                    <label class='label'>Francais</label> <INPUT type=radio name="language" value="fr" CHECKED>
                    <label class='label'>Anglais</label> <INPUT type=radio name="language" value="en"><br>
                {% else %}{% if language == "en" %}
                    <label class='label'>Francais</label> <INPUT type=radio name="language" value="fr" >
                    <label class='label'>Anglais</label> <INPUT type=radio name="language" value="en" CHECKED><br>
                {% else %}
                    <label class='label'>Francais</label> <INPUT type=radio name="language" value="fr" >
                    <label class='label'>Anglais</label> <INPUT type=radio name="language" value="en" ><br>
                {% endif %}{% endif %}

                <TR>
                    <TD class='label'> {{form.club_name.label}}  </TD>
                    <TD> {{form.club_name}} </TD>
                    <TD>
                        {% if form.club_name.errors%}
                            {% for error in form.club_name.errors %}
                                <img src="/static/css/images/error.png" width="16"  title="{{error}}" >
                            {% endfor %}
                        {% endif %}
                    </TD>
                </TR>
                <TR>
                    <TD class='label' > {{form.zone.label}} </TD>
                    <TD>  {{form.zone}}</TD>
                    <TD>
                        {% if form.zone.errors%}
                            {% for error in form.zone.errors %}
                                <img src="/static/css/images/error.png" width="16"  title="{{error}}" >
                            {% endfor %}
                        {% endif %}
                    </TD>
                </TR>
                <TR>
                    <TD class='label'> {{form.district.label}}</TD>
                    <TD> {{form.district}} </TD>
                    <TD>
                        {% if form.district.errors%}
                            {% for error in form.district.errors %}
                                <img src="/static/css/images/error.png" width="16"  title="{{error}}" >
                            {% endfor %}
                        {% endif %}
                    </TD>
                </TR>
                <TR>
                    <TD class='label'> {{form.date_to_arrive.label}} </TD>
                    <TD>{{form.date_to_arrive}}</TD>
                    <TD>
                        {% if form.date_to_arrive.errors%}
                            {% for error in form.date_to_arrive.errors %}
                                <img src="/static/css/images/error.png" width="16"  title="{{error}}" >
                            {% endfor %}
                        {% endif %}
                    </TD>
                </TR>
                <TR>
                    <TD class='label'> {{form.departure_date.label}}  </TD>
                    <TD> {{form.departure_date}} </TD>
                    <TD>
                        {% if form.departure_date.errors%}
                            {% for error in form.departure_date.errors %}
                                <img src="/static/css/images/error.png" width="16"  title="{{error}}" >
                            {% endfor %}
                        {% endif %}
                    </TD>
                </TR>
                <TR>
                    <TD class='label'> {{form.transportation.label}}  </TD>
                    <TD> {{form.transportation}} </TD>
                </TR>
                <TR>
                    <TD class='label'>   </TD>
                    <TD><input id='id_submit' type='submit' value = 'Valider'/></TD>
                </TR>
            </table>
        </div>
        <div id ='bas'>
            <p class='title'>Frais d'inscription 70 000 fcfa</p>
            <p>Ces frais incluent les repas, l'hébergement, le transport en bus durant tout le séjour, le porte document et les documents </p>
            <p>A virer sur le compte: Lions Clubs International <b>Code banque:</b> D0135 <b>Numero de compte:</b> 072513100009 <b>RIB:</b> 38 Banque Atlantique-Mali </p>

            <p class='title'>Pièces nécessaire pour le voyage</p>
            <ul>
                <li>Passeport ou carte d'identité en cours de validité</li>
                <li>Carnet de vaccination à jour</li>
            </ul>
            <p class='decale'>Les lions et leo ressortissants des pays du district 403 A n'ont pas besoin de visa pour entrée au Mali.</p>

        </div>
        <script type="text/javascript">
           $('#id_departure_date , #id_date_to_arrive').datepicker({
                                    dateFormat: 'dd/mm/yy',
                                    closeText: 'X',showOn: "button",
                                    buttonImage: "/static/css/images/calendar.gif",
                                });
        </script>
    </form>

{% endblock %}
