/*
Design by Alou and Fad
*/
body{margin: 0 auto;
     width: 980px;background-color: #DFDFDF;}
a {color: #003871;
    text-decoration: none;}
.title {
    color: #464646;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 100%;
    padding-bottom: 10px;
    text-decoration: none;
    text-shadow: -1px 5px 14px;
}

.texte {
    color: #464646;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 18px;
    font-style: italic;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 100%;
    padding-bottom: 10px;
    text-decoration: none;
    text-shadow: -1px 5px 14px;
}
#home #programme{list-style: none;}
#home #theme{color: #003871;
    font-size: 30px;
    font-style: italic;
    list-style: none outside none;
    text-align: center;
    text-decoration: none;}
#home, #registered, #club, #correction, #pampers, #login, #display, #confirmation, #contact, #ressources {background-color: Wheat;
                    -moz-box-shadow: 0 0 27px 7px #9E9E9E;
    border: 1px solid white;}
#confirmation {background-color: Wheat;
                    -moz-box-shadow: 0 0 27px 7px #9E9E9E;
    border: 1px solid white; height:400px}
#home #content h1{text-align: center;
                  font-size: 50px;
                  }
/*
#home #content h2{font-size: 30px;}
*/
#home #content {margin: 0 auto; width: 800px;}
p{font-size: 20px;}
/* Login */
#alou {margin: 0 auto;
       width: 480px;}
#alou li{display: -moz-stack;}
#alou label{font-size:20px;
            font-weight: bold;
            font-family: times New Roman}
#alou label[for="id_password"]{margin-right: 56px;}
#alou label[for="id_username"]{margin-right: 22px;}
#alou input[id="id_Connexion"]{margin-left: 263px;}



/* Menu */


#menu {
    height: 31px;
    -moz-border-radius: 8px 8px 8px 8px;
    -moz-box-shadow: 7px 5px 57px 11px #F4B453;
    margin-bottom: 93px;
}

#menu ul {
    margin: 0;
    padding: 0px 0px 0px 4px;
    list-style: none;
    line-height: normal;
}

#menu li {
    float: left;
}

#menu a {
    border: medium none;
    color: #902F4C;
    display: block;
    float: left;
    font-size: 14px;
    height: 29px;
    padding: 4px 13px 0;
    text-decoration: none;
    text-transform: uppercase;
}

#menu .current_page_item a {
    -moz-border-radius: 8px 8px 8px 8px;
    background: #902F4C;
    border: 2px double;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.1em;
}

#menu a:hover {
    -moz-border-radius: 8px 8px 8px 8px;
    background: #902F4C;
    border: 2px double;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.1em;
}

#menu #image_right{margin-left: 247px;
    width: 90px;}
#menu #image_left{width: 90px;margin-left: -4px;}


/* Registered */
.box {-moz-border-radius: 5px 5px 5px 5px;    -moz-box-shadow: 0 1px 2px #ABABAB;    background-color: white;    margin-bottom: 15px;    padding: 15px;}
#registered  {margin: 0 auto;}
#registered  #registered_form{  margin-left: 97px;
    margin-top: 121px;
    width: 832px;}
#registered #left {float:left; width: 400px;}

#registered #registered_form  input[id="id_last_name"],
                              input[id="id_first_name"],
                              input[id="id_city"],
                              input[id="id_email"]{
            width: 100px; margin-left: 20px; background-color: #FEF6DF;}

#registered #registered_form input[id="id_submit"], select[id="id_nationality"], select[id="id_transportation"], select[id="id_country"]{width: 104px; margin-left: 20px}
#registered #registered_form input[type="radio"]{background-color: #FEF6DF;}
#registered #registered_form input[id="id_num_passport"],
                             input[id="id_club_name"],
                             input[id="id_zone"],
                             input[id="id_district"],
                             input[id="id_date_to_arrive"],
                             input[id="id_departure_date"],
                             input[id="id_submit"]{
            width: 100px;margin-left: 20px; background-color: #FEF6DF;
            }
.label{font-family: times New Roman;font-weight: bold;
    font-size: 20px; width: 180px;}
.text{font-family: times New Roman; font-size: 16px;}
.error{font-family: times New Roman;font-weight: bold;
    font-size: 15px;}


/* Confirmation */
#confirmation #right table{width: 430px;}
#confirmation #right {float: right;
                       width: 410px;
                       margin-top: -190px;
                       margin-right: 65px;
                       }

#confirmation #left {margin-top: 110px;
                      margin-left: 166px}
#confirmation #left {width: 410px;}


/* display */
#display  {margin: 0 auto;}
#display #left {float:left; width: 360px;}

/* correction */
#correction  {margin: 0 auto;}
#correction  #registered_form{  margin-left: 97px;
    margin-top: 121px;
    width: 832px;}
#correction #left {float:left; width: 400px;}
#correction #registered_form ul{
            display : none;}
#correction #registered_form input[id="id_submit"], select[id="id_nationality"], select[id="id_transportation"], select[id="id_country"]{width: 104px; margin-left: 20px}

#correction #registered_form  input[id="id_last_name"],
                              input[id="id_first_name"],
                              input[id="id_country"],
                              input[id="id_city"],
                              input[id="id_email"]{
            width: 100px; margin-left: 20px ; background-color: #FEF6DF}

#correction #registered_form input[id="id_num_passport"],
                             input[id="id_club_name"],
                             input[id="id_zone"],
                             input[id="id_district"],
                             input[id="id_date_to_arrive"],
                             input[id="id_departure_date"],{
            width: 100px;margin-left: 20px
            }


/* defilement images */
#home #gallery {
    position:relative;
    height:338px
}
#home #gallery {margin: 0 auto;height: 338px;
    width: 450px;
}
    #home #gallery a {
        float:left;
        position:absolute;
    }

    #home #gallery a img {
        border:none;
    }

    #home #gallery a.show {
        z-index:500
    }

    #home #gallery .caption {
        z-index:600;
        background-color:#000;
        color:#ffffff;
        height:100px;
        width:100%;
        position:absolute;
        bottom:0;
    }

    #home #gallery .caption .content {
        margin:5px
    }

    #home #gallery .caption .content h3 {
        margin:0;
        padding:0;
        color:#1DCCEF;
    }


/* Club */
.onglet
        {
                display:inline-block;
                margin-left:3px;
                margin-right:3px;
                padding:3px;
                border:1px solid black;
                cursor:pointer;
        }
        .onglet_0
        {
                background:#F7CA86;
                border-bottom:1px solid black;
                font-size: 25px;

        }
        .onglet_1
        {
                background:#FDEFDB;
                border-bottom:0px solid black;
                padding-bottom:4px;
                font-size: 25px;
                font-weight: bold
        }
        .contenu_onglet
        {
                box-shadow: 7px 5px 57px 11px #F4B453;
                border:1px solid black;
                margin-top:-1px;
                padding:5px;
                display:none;
                background:#FDEFDB;
        }
        ul
        {
                margin-top:0px;
                margin-bottom:0px;
                margin-left:-10px
        }
        h1
        {
                margin:0px;
                padding:0px;
        }

#club h2 {margin: 0 auto;width: 224px;}
#club #top{margin: 0 auto;}
#club .systeme_onglets{margin-top: 85px; width: 668px;margin-left: 158px;}

#pampers #cij-pagination li{margin-left: 1ex;display: inline;}

#pampers #bienvenu{ margin-right: 24px;
    margin-top: -115px;float: right}

#pampers #cij-pagination ul{padding-top: 16px;}

/*  fonction jquery click_table qui permet de clicker
    sur toute une ligne d'un tableau
*/
#pampers table {margin: 0 auto;border: 1px solid;border-collapse: collapse; background-color: #FEF6DF; margin-bottom: 45px;}
#pampers table th , #pampers table td {border: 1px solid;}

#pampers #click_table tr:hover {background-color: #FBE7C8;}

#pampers #click_table th, #click_table td {
    padding: 3px 5px;text-align: center;}

#pampers #click_table a:hover {cursor: pointer;}
#footer{position:absolute;margin-top:20px;padding-bottom:10px;}
#footer ul{margin-left:26px;}
#footer ul li{display:inline;color:#f8f8f8;padding-left:0.4em;padding-right:0.4em;font-size:77%;padding-right:10px;padding-left:10px;border-left:1px solid #f8f8f8;text-transform:uppercase;line-height:0.75em;}
#footer ul li:first-child{border-left:none;}

#contact #lions,  #contact #leo{ margin-left: 200px;
    margin-top: 130px;
    width: 600px;}
#contact #leo{ margin-left: 200px;
    margin-top: 50px;
    width: 600px;}
#ressources #doc{ margin-left: 200px;
    margin-top: 50px;
    width: 600px;}
