/*
Design by Alou and Fad
*/
body{margin: 0 auto;
     width: 980px;}


#home #content h1{text-align: center;
                  font-size: 50px;
                  }
#home #content h2{font-size: 30px;}
#home #content p{font-size: 20px;}

/* Menu */


#menu {
    height: 31px;
    -moz-border-radius: 8px 8px 8px 8px;
    -moz-box-shadow: 7px 5px 57px 11px #F4B453;
    margin-bottom: 93px;
}

#menu ul {
    margin: 0;
    padding: 0px 0px 0px 4px;
    list-style: none;
    line-height: normal;
}

#menu li {
    float: left;
}

#menu a {
    border: medium none;
    color: #902F4C;
    display: block;
    float: left;
    font-size: 14px;
    height: 29px;
    padding: 4px 30px 0;
    text-decoration: none;
    text-transform: uppercase;
}

#menu .current_page_item a {
    -moz-border-radius: 8px 8px 8px 8px;
    background: #902F4C;
    border: 2px double;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.1em;
}

#menu a:hover {
    -moz-border-radius: 8px 8px 8px 8px;
    background: #902F4C;
    border: 2px double;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.1em;
}

#menu #image_right{margin-left: 247px;
    width: 90px;}
#menu #image_left{width: 90px;margin-left: -4px;}


/* Registered */
#registered  {margin: 0 auto;}
#registered #left {float:left; width: 360px;}

#registered #registered_form  input[id="id_last_name"], input[id="id_first_name"], select[id="id_country"], input[id="id_city"], select[id="id_nationality"], input[id="id_email"]{
            width: 100px; margin-left: 20px}

#registered #registered_form input[id="id_num_passport"],input[id="id_club_name"],input[id="id_zone"],input[id="id_district"], input[id="id_date_to_arrive"],input[id="id_departure_date"], select[id="id_transportation"], input[id="id_submit"]{
            width: 100px;margin-left: 20px
            }
.label{font-family: times New Roman;font-weight: bold;
    font-size: 20px;}
.error{font-family: times New Roman;font-weight: bold;
    font-size: 15px;}


/* Confirmation */
#coonfirmation  {margin: 0 auto;}
#coonfirmation #left {float:left; width: 360px;}

/* correction */
#correction  {margin: 0 auto;}
#correction #left {float:left; width: 360px;}
#correction #registered_form ul{
            display : none;}
#correction #registered_form  input[id="id_last_name"], input[id="id_first_name"], input[id="id_country"], input[id="id_city"], input[id="id_nationality"], input[id="id_email"]{
            width: 100px; margin-left: 20px}

#correction #registered_form input[id="id_num_passport"],input[id="id_club_name"],input[id="id_zone"],input[id="id_district"], input[id="id_date_to_arrive"],input[id="id_departure_date"], input[id="id_transportation"], input[id="id_submit"]{
            width: 100px;margin-left: 20px
            }


/* defilement images */
#home #gallery {
    position:relative;
    height:360px
}
#home #gallery {margin: 0 auto;height: 200px;
    width: 581px;
}
    #home #gallery a {
        float:left;
        position:absolute;
    }

    #home #gallery a img {
        border:none;
    }

    #home #gallery a.show {
        z-index:500
    }

    #home #gallery .caption {
        z-index:600;
        background-color:#000;
        color:#ffffff;
        height:100px;
        width:100%;
        position:absolute;
        bottom:0;
    }

    #home #gallery .caption .content {
        margin:5px
    }

    #home #gallery .caption .content h3 {
        margin:0;
        padding:0;
        color:#1DCCEF;
    }


/* Club */
.onglet
        {
                display:inline-block;
                margin-left:3px;
                margin-right:3px;
                padding:3px;
                border:1px solid black;
                cursor:pointer;
        }
        .onglet_0
        {
                background:#bbbbbb;
                border-bottom:1px solid black;
        }
        .onglet_1
        {
                background:#dddddd;
                border-bottom:0px solid black;
                padding-bottom:4px;
        }
        .contenu_onglet
        {
                box-shadow: 7px 5px 57px 11px #F4B453;
                border:1px solid black;
                margin-top:-1px;
                padding:5px;
                display:none;
        }
        ul
        {
                margin-top:0px;
                margin-bottom:0px;
                margin-left:-10px
        }
        h1
        {
                margin:0px;
                padding:0px;
        }

#club h2 {margin: 0 auto;width: 224px;}
#club #bottom{margin-left: 131px;}
