/*
Design by Alou and Fad
*/
body{margin: 0 auto;
     width: 980px;}


#home #content h1{text-align: center;
                  font-size: 50px;
                  }
#home #content h2{font-size: 30px;}
#home #content p{font-size: 20px;}

/* Menu */

#menu {
    height: 31px;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 7px 5px 57px 11px #A9A9A9;
    margin-bottom: 93px;
}

#menu ul {
    margin: 0;
    padding: 0px 0px 0px 4px;
    list-style: none;
    line-height: normal;
}

#menu li {
    float: left;
}

#menu a {
    border: medium none;
    color: #CCCCCC;
    display: block;
    float: left;
    font-size: 14px;
    height: 29px;
    padding: 4px 30px 0;
    text-decoration: none;
    text-transform: uppercase;
}

#menu .current_page_item a {
    border-radius: 8px 8px 8px 8px;
    background: #CCCCCC;
    border: 2px double;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.2em;
}

#menu a:hover {
    border-radius: 8px 8px 8px 8px;
    background: #CCCCCC;
    border: 2px double;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.1em;
}


/* Registered */
#registered  {margin: 0 auto;}
#registered #left {float:left; width: 360px;}

#registered #registered_form ul{
            display : none;}
#registered #registered_form  input[id="id_last_name"]{
            width: 100px; margin-left: 90px;}
#registered #registered_form input[id="id_first_name"] {
            width: 100px; margin-left: 76px;
            }
#registered #registered_form  input[id="id_country"]{
            width: 100px;margin-left: 92px;}
#registered #registered_form  input[id="id_city"]{
            height: 20px; width: 100px; margin-left: 94px;}
#registered #registered_form input[id="id_email"] {
            width: 100px; margin-left: 89px;
            }
#registered #registered_form input[id="id_num_passport"] {
            width: 100px; margin-left: 26px;
            }
#registered #registered_form  input[id="id_nationality"]{
            width: 100px;margin-left: 60px;}

#registered #registered_form input[id="id_club_name"]{
            width: 100px;margin-left: 96px;}
#registered #registered_form input[id="id_zone"]{
            width: 100px;margin-left: 140px;}
#registered #registered_form input[id="id_district"]{
            width: 100px;margin-left: 130px;}
#registered #registered_form input[id="id_date_to_arrive"]{
            width: 100px;margin-left: 92px;}
#registered #registered_form input[id="id_departure_date"]{
            width: 100px;margin-left: 86px;}
#registered #registered_form input[id="id_transportation"]{
            width: 100px;margin-left: 60px;}


